html, body, #root {
  margin: 0;
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: auto min(400px, calc(40vw - 1rem)) min(400px, calc(40vw - 1rem)) auto;
  grid-template-rows: auto 1rem min(300px, calc(20vh - 1rem)) min(300px, calc(20vh - 1rem)) min(300px, calc(20vh - 1rem)) min(300px, calc(20vh - 1rem)) 1rem auto;
  grid-template-areas: 
   ". . . ."
   ". header header ."
   ". main   main   ."
   ". main   main   ."
   ". main   main   ."
   ". action action ."
   ". footer footer ."
   ". . . .";
  column-gap: 1px;
  row-gap: 1px;
  height: 100%;
  background-color: currentColor;
  color: black;
}

.app > * {
  background-color: white;
}

.app-header {
  grid-area: header;
}

.app-main {
  grid-area: main;
}

.app-action {
  grid-area: action;
}

.app-footer {
  grid-area: footer;
}
